//This is in the includes/myPartial.jade file
//This file doesn't have a declaration for the "obj" variable
//But the file into which it is being included does have an "obj" variable
//It has access to that variable
div.test #{obj.name}